USE [Evatic_Test]
GO
/****** Object:  StoredProcedure [dbo].[CRM_Evatic_customer_integration]    Script Date: 26/01/2026 10:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[CRM_Evatic_customer_integration]
@LastRunDateTime DATETIME2(7)
AS
begin
    select C.OBJ_NO, C.CUSTOMER_NO, C.CUSTOMER_NAME,
           C.STATUS,
		   A.ADDRESS_NAME, A.ADDRESS_1, A.DESCRIPTION as 'CITY' ,A.ADDRESS_2, A.ADDRESS_3, CNT.COUNTRY_NAME as 'COUNTRY', A.POSTAL_CODE, A.PHONE_NO,
           C.E_MAIL, C.HTTP,		
		   S.SALESMAN_CODE, S.SALESMAN_NAME, C.SALESMAN_OBJ_NO
    from CUSTOMER C
             LEFT OUTER JOIN SALESMAN S ON C.SALESMAN_OBJ_NO = S.OBJ_NO
			 LEFT OUTER JOIN ADDRESS A ON C.OBJ_NO = A.SOURCE_OBJ_NO AND ROW_NO = (Select min (ROW_NO) from ADDRESS where SOURCE_OBJ_NO = C.OBJ_NO )
			 LEFT OUTER JOIN COUNTRY CNT ON A.COUNTRY = CNT.COUNTRY_NO
    where C.OBJ_DATE > @LastRunDateTime
	--C.OBJ_NO = @OBJ_NO;
end

-- @{items('Apply_to_each')?['HTTP']}
