USE [Evatic_Test]
GO
/****** Object:  StoredProcedure [dbo].[CRM_Evatic_CONTACT_Integration]    Script Date: 21/01/2026 15:35:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[CRM_Evatic_CONTACT_Integration]
(@LastRunDateTime DATETIME2(7))
 AS
select C.OBJ_NO, C.CONTACT_NO, C.FIRST_NAME, C.LAST_NAME, C.JOB_TITLE, C.E_MAIL_1, C.PHONE_NO, C.MOBILE_PHONE_NO, A.ADDRESS_NAME, A.ADDRESS_1, A.ADDRESS_2, A.ADDRESS_3,
A.POSTAL_CODE, A.COUNTRY, ISNULL(C.CONTACT_STATUS,'0') as 'CONTACT_STATUS'
from CONTACT C
	LEFT OUTER JOIN ADDRESS A ON C.OBJ_NO = A.SOURCE_OBJ_NO AND C.ADDRESS_ROW_NO = A.ROW_NO
WHERE C.OBJ_DATE > @LastRunDateTime
